body {
    font-family: "Tajawal", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:var(--main-white);
    text-decoration: none;
    color: var(--main-text);
}

:root {
    --main-red: #742C2B;
    --main-orange: #C4A381;
    --main-color: #EDEDED;
    --main-link:#D2CCC0;
    --main-text:#2F4550;
    --main-white: #ffffff;
}

/** NAV section **/

nav{
    width: 100%;
    background-color: var(--main-red);
    position: relative;
}

.logo img{
    width: 90px;
}

.main-nav{
    padding: 7px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social a{
    margin-left: 3px;
    color: var(--main-color);
    font-size: 17px;
    
}
a:hover,.active-link{
    color: var(--main-color);
}

.hamburger {
    width: 35px;
  }
  
.hamburger:before,
.hamburger:after,
.hamburger div {
  background: #fff;
  content: "";
  display: block;
  height: 5px;
  border-radius: 3px;
  margin: 5px 0;
  transition: 0.5s;
}
.hamburger.active:before {
  transform: translateY(12px) rotate(135deg);
}
.hamburger.active:after {
  transform: translateY(-12px) rotate(-135deg);
}
.hamburger.active div {
  transform: scale(0);
}

.scroll{
    height: 100vh;
    overflow: hidden;
}

.links::-webkit-scrollbar {
  width: 20px;
}
.links{
  position: fixed;
  z-index: 1000;
  display: flex;
  top: 46px;
  bottom: 0;
  right: -110%;
  background-color: #742C2B;
  width: 100%;
  /* height: 100vh; */
  justify-content: center;
  transition: 1s;
  overflow: auto;
}
.active-links {
    right: 0;
    
}
.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-size: 19px;
    color: var(--main-link);
    
}
li {
    list-style: none;
    padding: 15% 0;
}


/** NAV section **/

/** main **/

.main::after{
  content: "";
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 50%;
  background-image:url('assets/Pattern\ -\ Home\ -\ Our\ Products\ Section@2x.png');
  background-size:cover;
  background-repeat:no-repeat;
}


/** main **/

section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 7px;
}
.main-img{
  width: 70%;
  margin: 10px;
}

section div{
  width: 100%;
}

span{
  margin-left: 5px;
  display:inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-red);
}

.main-p{
  padding:0 30px;
}

h1{
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
h2{
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
}

p{
  
  font-size: 15px;
  font-weight: 400;
}

.frist-check {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 30px ;
}

.frist-check img{
  width: 15px;
}
.frist-check p{
  color: var(--main-red);
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 0;
}

 /** footer section **/

 footer{
    padding: 20px 10px;
    background-color: var(--main-text);
    color:var(--main-color) ;
  }
  footer h3{
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
  }
  footer p , footer a{
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 0;
  }
  .footer-contact p,footer a{
    color: var(--main-link);
  }

  .main-foot{
    display: flex;
    flex-direction: column;
    align-items: center;


}

footer a{
    margin-bottom: 5px;
}

.foot-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;


}
  .main-foot img{
    width: 35vw;
    margin-bottom: 10px;
  }

.footer-contact img{
    width: 3vw;
}
.ctc-foot{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.ctc-foot p{
    margin-right: 5px;
}
  /** footer section **/

@media (min-width: 768px) {

    /** NAV section **/
    
    .hamburger{
        display: none;
    }
    .links{
        position: inherit;
        height: auto;
        width: auto;
        width: 63%;
        margin-right: 11.6vw;
        margin-left: 4.5vw;
    }
    .nav-menu {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: var(--main-link);
    }
    .nav-menu a:hover, .social a:hover{
        color: var(--main-white);
    }
    li{
        padding: 0;
    }
    /** NAV section **/

    /** footer section **/
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;  
        
      }
      /*footer div{
        width: calc(100%/3);
      }*/

      footer h3{
        margin: 15px 0;
      } 

      .main-foot img {
        width: 15vw;
      }
      .main-foot{
        width: 30%;
        align-items: flex-start;
      }
      .foot-links{
        align-items: center;
      }
      .main-foot-links,.footer-contact,.main-ctc{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .footer-contact{
        width: 30%;
      }
      .main-ctc{
        width: 100%;
        
      }
      .ctc-foot{
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
      }

      .ctc-foot img{
        margin-right: 5px;
        width: 15px;
      }
      footer{
        padding: 10px 10px ;
        padding-bottom: 20px;
      }
      
      /** footer section **/
}

@media (min-width: 960px) {
    /** NAV section **/
    .nav-menu {
        font-size: 1.3vw;
    }
    .cont{
        
        padding: 10px 6.5vw;
        padding-top: 18px;
    }
    .social a{
        font-size: 1.5vw;
    }
    /** NAV section **/
    /**section**/
    .main-ph{
      display: flex;
    }
    .main-h{
      margin-left: 10px;
    }
    .main-ph div{
      width: auto;
    }

    .main-p{
      width: 70%!important;
      padding: 0;
    }
    
    /**section**/

    /** footer section **/

    footer h3,footer p,footer a{
        font-size: 1.4vw;
    }
    .ctc-foot img {
        width: 2vw;
    }
    .main-foot img {
        width: 10vw;
        margin-bottom: 25px;
    }

    /** footer section **/

}

@media (min-width: 1200px) {
    /** NAV section **/
    .logo img{
        width: 8vw;
    }
    /** NAV section **/

}